<div style="width:100%">
    <div class="bloc bgc-white l-bloc">
        <div class="container bloc-sm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-body">
                            <canvas id="pieChart"></canvas>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="bloc bgc-white l-bloc">
        <div class="container bloc-lg">
            <div class="row">
                {{!-- <button onclick="addRow();">Add Row</button> --}}
                <div class="marginAlign" style="width:100%">
                    <table id="tableStyle" style="width:100%">
                        <tr>
                            <th>Amount</th>
                            <th>Savings</th>
                        </tr>
                        {{#each transactions}}<tr>
                            <td>{{this.tamount}}</td>
                            <td>{{this.tAddedOn}}</td>
                        </tr>

                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br>



<script>
    let myChartt = document.getElementById('myChart').getContext('2d');
    console.log("Chart1");
    let decsavings = [];
    var sumdec =0;
     {{#each goals}} decsavings.push({{this.tamount}});sumdec=sumdec+Number({{this.tamount}}); {{/each}}
    let yearChart = new Chart(myChartt, {
        type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            datasets: [{
                label: 'Savings',
                data: [
                    1200,
                    145,
                    154,
                    1376,
                    346,
                    2000,
                    2345,
                    1236,
                    1224,
                    1223,
                    122,
                    sumdec
                ],
                //backgroundColor:'green',
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(255, 159, 64, 0.6)',
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(255, 159, 64, 0.6)'
                ],
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                text: 'User yearly report',
                fontSize: 15
            },
            // legend:{
            //   display:true,
            //   position:'right',
            //   labels:{
            //     fontColor:'#000'
            //   }
            // },
            layout: {
                padding: {
                    left: 5,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                enabled: true
            }
        }
    });

    console.log("Chart end");
</script>


<script>
    let pieChartt = document.getElementById('pieChart').getContext('2d');

    let goals1 = [];
    var goalpercent = [];
    var colorList = [];
    {{#each goals}} goals1.push('{{this.gname}}'); {{/each}}
            {{#each goals}} goalpercent.push({{this.gfulfilment}}); {{/each}}
                    console.log(goals1);
                    {{#each colorlist}} colorList.push('{{this}}'); {{/each}}
                            console.log(colorList);
                            var colors = [];
                            for (var i = 0; i < goals1.length; i++) {
                                colors.push(colorList[i]);
                            }

                            let yearPieChart = new Chart(pieChartt, {
                                type: 'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                                data: {
                                    labels: goals1,
                                    datasets: [{
                                        label: 'Savings',
                                        data: goalpercent,
                                        //backgroundColor:'green',
                                        backgroundColor: colors,
                                        borderWidth: 1,
                                        borderColor: '#777',
                                        hoverBorderWidth: 3,
                                        hoverBorderColor: '#000'
                                    }]
                                },
                                options: {
                                    title: {
                                        display: true,
                                        text: 'Savings Distribution',
                                        fontSize: 15
                                    },
                                    // legend:{
                                    //   display:true,
                                    //   position:'right',
                                    //   labels:{
                                    //     fontColor:'#000'
                                    //   }
                                    // },
                                    layout: {
                                        padding: {
                                            left: 5,
                                            right: 0,
                                            bottom: 0,
                                            top: 0
                                        }
                                    },
                                    tooltips: {
                                        enabled: true
                                    }
                                }
                            });
</script>
<script>

                function addRow() {
                    // get input values
                    // var fname = document.getElementById('fname').value;
                    // var lname = document.getElementById('lname').value;
                    // var age = document.getElementById('age').value;

                    // get the html table
                    // 0 = the first table
                    var table = document.getElementsByTagName('table')[0];

                    // add new empty row to the table
                    // 0 = in the top 
                    // table.rows.length = the end
                    // table.rows.length/2+1 = the center
                    var newRow = table.insertRow(table.rows.length / 2 + 1);

                    // add cells to the row
                    var cel1 = newRow.insertCell(0);
                    var cel2 = newRow.insertCell(1);

                    // add values to the cells
                    cel1.innerHTML = "Amount1";
                    cel2.innerHTML = "Savings";
                }

</script>